---
swagger: "2.0"
info:
  description: "JSON API to DB: Fetch JSON from APIs and send to a TinyDB database."
  version: "0.0.2"
  title: "jatdb"
  contact:
    email: "Nathan@Genetzky.us"
  license:
    name: "MIT"
    url: "https://github.com/NGenetzky/jatdb/blob/master/LICENSE"
tags:
- name: "trello"
  description: "Interact with Trello"
- name: "content"
  description: "Interact with Markdown Content"
schemes:
- "https"
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /uri/:
    post:
      parameters:
      - in: "body"
        name: "uri"
        required: true
        schema:
          $ref: "#/definitions/UniversalResource"
      responses:
        200:
          description: "successfully registered device"
          schema:
            $ref: "#/definitions/UniversalResource"
  /content/:
    get:
      tags:
      - "content"
      parameters:
      - name: "path"
        in: "query"
        description: "Relative path to file"
        required: true
        type: "string"
      responses:
        200:
          description: "Successfully created"
          schema:
            $ref: "#/definitions/ContentFile"
    post:
      tags:
      - "content"
      parameters:
      - in: "body"
        name: "contentfile"
        required: true
        schema:
          $ref: "#/definitions/ContentFile"
      responses:
        200:
          description: "Successfully created"
          schema:
            $ref: "#/definitions/UniversalResource"
    put:
      tags:
      - "content"
      parameters:
      - name: "path"
        in: "query"
        description: "Relative path to file"
        required: true
        type: "string"
      - in: "body"
        name: "contentfile"
        required: true
        schema:
          $ref: "#/definitions/ContentFile"
      responses:
        200:
          description: "Successfully created"
          schema:
            $ref: "#/definitions/UniversalResource"
  /trello/:
    post:
      tags:
      - "trello"
      parameters:
      - name: "key"
        in: "query"
        required: false
        type: "string"
      - name: "token"
        in: "query"
        required: false
        type: "string"
      - in: "body"
        name: "query"
        required: false
        schema:
          $ref: "#/definitions/TrelloQuery"
      responses:
        200:
          description: "Returns the index of the query."
          schema:
            type: "integer"
    put:
      tags:
      - "trello"
      parameters:
      - name: "key"
        in: "query"
        required: false
        type: "string"
      - name: "token"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "Sucessfully added to DB."
          schema:
            type: "integer"
  /trello/{model}/{id}:
    put:
      tags:
      - "trello"
      summary: "Updates the models currently in db."
      parameters:
      - name: "model"
        in: "path"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Sucessfully added to DB."
          schema:
            $ref: "#/definitions/UniversalResource"
definitions:
  ContentFile:
    type: "object"
    required:
    - "content"
    properties:
      content:
        type: "string"
        description: "Actual markdown content"
      path:
        type: "string"
        description: "Relative path to file"
      metadata:
        type: "object"
        description: "Data associated with content"
        properties: {}
    example:
      content: "Some meaningful markdown\n\n[google](https://www.google.com/)"
      path: "post/2018-10-31-happy-birthday.md"
      metadata:
        date: "2018-10-31"
        title: "Happy Birthday"
  EverdoTag:
    type: "object"
    properties:
      id:
        type: "string"
        description: "TODO"
      title:
        type: "string"
        description: "TODO"
      title_ts:
        type: "string"
        description: "TODO"
      color:
        type: "integer"
        description: "TODO"
      color_ts:
        type: "integer"
        description: "TODO"
      type:
        type: "string"
        description: "TODO"
      type_ts:
        type: "integer"
        description: "TODO"
      created_on:
        type: "integer"
        description: "TODO"
      changed_ts:
        type: "integer"
        description: "TODO"
      removed_ts:
        type: "integer"
        description: "TODO"
    externalDocs:
      url: "https://everdo.net/"
    example:
      id: "17D71D5C93DD48F3BC73B54D2FC72393"
      title: "@computer"
      color: 8370431
      type: "l"
      changed_ts: 1
  EverdoItem:
    type: "object"
    properties:
      id:
        type: "string"
        description: "TODO"
      sync_id:
        type: "string"
        description: "TODO"
      type:
        type: "string"
        description: "TODO"
      list:
        type: "string"
        description: "TODO"
      note:
        type: "string"
        description: "TODO"
      completed_on:
        type: "integer"
        description: "TODO"
      parent_id:
        type: "string"
        description: "TODO"
      title:
        type: "string"
        description: "TODO"
      created_on:
        type: "integer"
        description: "TODO"
      is_focused:
        type: "integer"
        description: "TODO"
      energy:
        type: "integer"
        description: "TODO"
      time:
        type: "integer"
        description: "TODO"
      due_date:
        type: "integer"
        description: "TODO"
      start_date:
        type: "integer"
        description: "TODO"
      recurrent_task_id:
        type: "integer"
        description: "TODO"
      contact_id:
        type: "string"
        description: "TODO"
      tags:
        type: "array"
        description: "TODO"
        items:
          type: "integer"
      position_child:
        type: "integer"
        description: "TODO"
      position_parent:
        type: "integer"
        description: "TODO"
      position_focus:
        type: "integer"
        description: "TODO"
      position_global:
        type: "integer"
        description: "TODO"
      repeated_on:
        type: "integer"
        description: "TODO"
    externalDocs:
      url: "https://everdo.net/"
    example:
      id: "21CB3DEB506A48CD877EC9DCE95E2323"
      type: "a"
      list: "a"
      note: "You can use time and energy filters to pick what to work on next.\nTo\
        \ edit time and energy, open the item editor by clicking on the item's title."
      parent_id: "D256DF37E6B64A22A76262BF732C623A"
      title: "This item has time and energy estimates"
      created_on: 1513026000
      is_focused: 0
      energy: 2
      time: 30
      recurrent_task_id: ""
      contact_id: ""
      tags: []
  TrelloQuery:
    type: "object"
    properties:
      uri:
        type: "string"
        format: "uri"
      query_append:
        type: "string"
        description: "Extra query information"
    externalDocs:
      url: "https://trello.readme.io/v1.0/"
    example:
      uri: "{}"
      query_append: "name"
  TrelloAction:
    type: "object"
    properties:
      id:
        type: "string"
        description: "The ID of the action"
      data:
        type: "object"
        description: "Relevant information regarding the action"
        properties: {}
      date:
        type: "string"
        format: "date-time"
        description: "When the action occurred"
      idMemberCreator:
        type: "string"
        description: "The ID of the member who caused the action"
      type:
        type: "string"
        description: "The type of the action. See list of Action Types for options."
    externalDocs:
      url: "https://trello.readme.io/v1.0/reference#action-object"
    example:
      id: "{}"
      data: "name"
      date: "2017-12-12T17:00:00.000Z"
      idMemberCreator: 0
      type: 6
  UniversalResource:
    type: "object"
    required:
    - "uri"
    properties:
      uri:
        type: "string"
        format: "uri"
      uuid:
        type: "string"
        format: "uuid"
      date:
        type: "string"
        format: "date"
    example:
      date: "2000-01-23"
      uri: "http://example.com/aeiou"
      uuid: "046b6c7f-0b8a-43b9-b35d-6489e6daee91"
externalDocs:
  description: "github.com/NGenetzky/jatdb/"
  url: "https://github.com/NGenetzky/jatdb/"
